{%extends "index.html"%}
{%load static%}
{%block body%}

    <main id="main" class="aux-main aux-territory  aux-single aux-page aux-boxed-container no-sidebar aux-sidebar-style-border aux-user-entry" style="margin-top: 20%;" >
        <div class="aux-wrapper">
            <div class="aux-container aux-fold">

                <div id="primary" class="aux-primary" >
                    <div class="content" role="main"  >

                        
                
                        
                        <article id="post-263" class="post-263 page type-page status-publish hentry">

                            <div class="entry-main">

                                <div class="entry-content">

                                    
<div class="um um-register um-257">
	<div class="um-form" data-mode="register">
		<form method="post" action="#">
			

	<input type="hidden" id="_wpnonce" name="_wpnonce" value="b80f2d79f1" /><input type="hidden" name="_wp_http_referer" value="/register/" />
	<div class="um-col-alt">

        <center>
            <h3>Thanks for Registration With Us !!!</h3>
        <h4>Your Account Created Successfully !!!</h4>
			<div class=" um-half">
				<a href="/login" class="um-button um-alt" style="background: #3ba1da; color: white;">
					Login Now			</a>
			</div>
        </center>
			<!-- <div class="um-right um-half">
				<a href="/condidate-register" class="um-button um-alt">
					Register as Condidate				</a>
			</div> -->

		
		<div class="um-clear"></div>

	</div>

			</form>
	</div>
</div>
<style>
			.um-257.um {
			max-width: 450px;
		}
		</style>

<div class="clear"></div>
                                </div> <!-- end article section -->

                                <footer class="entry-meta">
                                                                    </footer> <!-- end article footer -->

                            </div>

                        </article> <!-- end article -->


                        
                        <div class="clear"></div>

                        
                        <div class="clear"></div>

                        

<!-- You can start editing here. -->


    



                
                    </div><!-- end content -->
                </div><!-- end primary -->

                
            </div><!-- end container -->
        </div><!-- end wrapper -->
    </main><!-- end main -->

    {%endblock%}